@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body style="height: 100%;">
    <table style="width: 100%;background-color: rgb(189, 180, 180);" id="header">
        <tr>
            <td colspan="4">
                <h4 style="padding: 0 10px;">BỘ GIÁO DỤC VÀ ĐÀO TẠO</h4>
            </td>
            <td rowspan="3">
                <img src="Ảnh chụp màn hình 2023-01-14 220515.png" alt="" width="50px" style="float: right;width: 100px;padding-top: 25px;">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h1 style="padding: 0 10px;">
                    THƯ VIỆN GIÁO TRÌNH ĐIỆN TỬ
                </h1>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <hr style="height: 2px; background-color: black;">
                <p style="padding: 0 10px;">
                    Thư viện bài giảng ............................
                </p>
            </td>
        </tr>
        <tr style="display: inline-block; background-color: rgb(2, 86, 86); display: table-row;;">
            <td>
                <img src="" alt="" class="ti-bookmark-alt" style="color: #fff;">
                <a href="">Giáo trình</a>
            </td>
            <td>
                <img src="" alt="" class="ti-search" style="color: #fff;">
                <a href="">Tra cứu</a>
            </td>
            <td>
                <img src="" alt="" class="ti-briefcase" style="color: #fff;">
                <a href="">Tài nguyên</a>
            </td>
            <td>
                <img src="" alt="" class="ti-share" style="color: #fff;">
                <a href="">Chia sẽ</a>
            </td>
            <td></td>
        </tr>

    </table>
    <table style="width: 100%; background-color: rgb(189, 180, 180);" id="content">
        <tr>
            <td rowspan="3" style="width: 200px; background-color: rgb(49, 176, 176);" class="list">
                <ul>
                    <li><b><a href="">Công nghệ thông tin</a></b></li>
                    <li><b><a href="">Điện kĩ thuật</a></b></li>
                    <li><b><a href="">Cơ khí-Chế tạo</a></b></li>
                    <li><b><a href="">Các ngành KT khác</a></b></li>
                    <li><b><a href="">Kinh tế-Quản lý</a></b></li>
                    <li><b><a href="">Khoa học tự nhiên</a></b></li>
                    <li><b><a href="">Y tế-Sức khỏe</a></b></li>
                    <li><b><a href="">Nông-Lâm-Ngư</a></b></li>
                    <li><b><a href="">Thông tin website</a></b></li>
                    <li>Bộ giáo dục và đào tạo</li>
                </ul>
            </td>
            <td colspan="2" style="padding: 10px; padding-bottom: 0;">
                <p style="background-color: rgb(49, 176, 176); padding: 0 10px;">[.....]</p>
                <p style="background-color: rgb(49, 176, 176); padding: 0 10px;">
                    xắp xếp: <button>thời gian</button><button>đánh giá</button><button>lần xem</button>
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; width: 94px;">
                <img src="" alt="" class="ti-files ">
            </td>
            <td>
                <p>Giải các bài tập toán tối ưu và thống kê trên microshoft E</p>
                <p>PGS TS Bùi Thế Tâm</p>
                <p>Nguồn: Viện Toán học, Viện Khoa học Công nghệ Việt Nam</p>
                <p>Mã số:20071426 rank: 67</p>
                <p>công bố:03-06-2007</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; width: 94px;">
                <img src="" alt="" class="ti-files">
            </td>
            <td>
                <p>Cẩm nang an toàn sinh học trong phòng thí nghiệm</p>
                <p>Phạm Văn Hậu, Bùi Văn Trường</p>
                <p>Nguồn: Viện vệ sinh dịch tã Tây Nguyên</p>
                <p>Mã số: 20071406 rank: 1,110</p>
                <p>Công bố: 25-05-2007</p>
            </td>
        </tr>
    </table>
</body>

</html>